# Visual Studio
*.sdf
*.opensdf
*.VC.db
*.VC.db-shm
*.VC.db-wal
*.VC.opendb
*.suo
*.user
*.ncb
*.ilk
*.pdb
*.pch
*.obj
*.pri
*.recipe
*.tlog
ipch/
asm/

# Xcode
build-state.dat
build-state~.dat
*.d
*.dia
*.LinkFileList
*.dep
*.hmap
*.mode1v3
*.mode2v3
*.pbxuser
*.pbxindex
*.xcworkspace
xcuserdata/
xcshareddata/
Objects-normal/

# NetBeans
**/nbproject/private/

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store

# Esenthel
!/Data
!/Editor
!/Editor Data
!/Editor Data/Code/Windows/Project.vcxproj.user
!/Editor Source
!/Engine
!/Project
!/ThirdPartyLibs
!/Clean.bat
!/Titan.sln
Lock

# Editor
/Editor/*
/Editor/Bin/Android/*.a
/Editor/Projects/*
!/Editor/Assets
!/Editor/Bin
!/Editor/Bin/Android
!/Editor/Bin/*.dll
!/Editor/Bin/*.dylib
!/Editor/Bin/*.so
!/Editor/Bin/*.exe
!/Editor/Projects
!/Editor/Projects/541oob6a_h_5el6-6!zan_50
/Editor/Projects/541oob6a_h_5el6-6!zan_50/Temp
Editor Source/_Build_/Titan Editor/Titan Editor

# Engine Builder
!/Engine Builder.exe
!/Engine Builder.app
!/Engine Builder
/Engine/Engine Config.h
/Engine/Engine/x64

# Extra
!/Extra

!.gitignore
!.vscode
!t_generate_engine_builder.py
Engine Builder
/build
t_copy_headers.py
t_create_code_editor_dat.py
t_create_editor_pak.py
t_create_engine_pak.py
t_generate_game_engine.py
/.vs/Titan/FileContentIndex
/.vs/Titan/v17
build_log.txt
/CMake
Editor Data/Code/Windows/.vs/Project/FileContentIndex/1c8d25d1-8816-4768-80c1-50f7db8e5149.vsidx
Editor Data/Code/Windows/.vs/Project/v17/DocumentLayout.json
Engine/.vs/Engine/v17/DocumentLayout.json
Engine/.vs/Engine/v17/fileList.bin
Editor/Bin/Code Editor.dat
Editor/Bin/Editor.pak
Editor/Bin/Engine.pak
/Editor/Bin/Update
Editor/Bin/File Browser.txt
Editor/Bin/Mobile/Engine.pak
Editor/Bin/Universal/Engine.pak
Editor/Bin/Uploader.txt
Editor/Bin/Web/Engine.pak
Editor/Bin/EngineUniversal64DX11.lib
Editor/Bin/Engine64DX11.lib
compile_commands.json
Editor/Bin/Store.dat
/Editor Data/Code/Android/.gradle
find_largest_cORhFile.txt
/Project/Android/.gradle
Project/x64/Debug DX11/resource.res
Project/x64/Release DX11/resource.res
Project/Project.exe
